/*************************************************************************************/

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 415px) {
    .load-5, .load-6, .load-7, .load-8, .load-9, .load-10, .load-11, .load-12{
        display:none;
    }
    .photo-loader div div {
        min-width:50%;
    }
    .load-2{order:1;}
    .load-4{order:2;}
    .load-banner{
        animation:load-it 1.5s ease-in forwards;
        animation-iteration-count:1;
        opacity:0;
        animation-delay:2.5s;
        right:10%;
    }
    .begin{
    animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:4.5s;
    opacity:0;
}
.your{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:5.5s;
    opacity:0;
}
.journey{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:6.5s;
    opacity:0;
}
        .play-button{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:7.5s;
    opacity:0;
}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 639px) and (max-device-width : 767px){
/* Styles */
        .load-banner{
        animation:load-it 1.5s ease-in forwards;
        animation-iteration-count:1;
        opacity:0;
        animation-delay:6.5s;
        right:10%;
    }
        .begin{
    animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:8.5s;
    opacity:0;
}
.your{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:9.5s;
    opacity:0;
}
.journey{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:10.5s;
    opacity:0;
}
        .play-button{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:11.5s;
    opacity:0;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1367px) {
/* Styles */
    .load-banner{

        animation:load-it 1.5s ease-in forwards;
        animation-iteration-count:1;
        opacity:0;
        animation-delay:3.5s;
        right:10%;

    }
            .begin{
    animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:5.5s;
    opacity:0;
}
.your{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:6.5s;
    opacity:0;
}
.journey{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:7.5s;
    opacity:0;
}
        .play-button{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:8.5s;
    opacity:0;
            font-size:3rem;

}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 1026px) and (max-device-width : 1367px) and (orientation : landscape) {
/* Styles */
        .load-banner{
        animation:load-it 1.5s ease-in forwards;
        animation-iteration-count:1;
        opacity:0;
        animation-delay:6.5s;
        right:10%;
    }
            .begin{
    animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:8.5s;
    opacity:0;
}
.your{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:9.5s;
    opacity:0;
}
.journey{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:10.5s;
    opacity:0;
}    .play-button{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:11.5s;
    opacity:0;
}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 767px) and (max-device-width : 1025px) and (orientation : portrait) {
/* Styles */
    .load-7, .load-8, .load-9, .load-10, .load-11, .load-12{
        display:none;
    }
    .photo-loader div div {
        min-width:calc(100% / 3);
    }
    .load-2{order:1;}
    .load-4{order:2;}
    .load-banner{
        animation:load-it 1.5s ease-in forwards;
        animation-iteration-count:1;
        opacity:0;
        animation-delay:3.5s;
        right:10%;
    }
            .begin{
    animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:5.5s;
    opacity:0;
}
.your{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:6.5s;
    opacity:0;
}
.journey{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:7.5s;
    opacity:0;
}
        .play-button{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:8.5s;
    opacity:0;
}
}

@media only screen and (min-device-width: 769px){
    .load-banner{
        animation:load-it 1.5s ease-in forwards;
        animation-iteration-count:1;
        opacity:0;
        animation-delay:6.5s;
        right:16.6%;
    }
            .begin{
    animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:8.5s;
    opacity:0;
}
.your{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:9.5s;
    opacity:0;
}
.journey{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:10.5s;
    opacity:0;
}

    .play-button{
        animation:load-it .75s ease-in forwards;
    animation-iteration-count:1;
    animation-delay:11.5s;
    opacity:0;
}
}

/**************************************************************************************/

body {
    margin: 0;
}
.photo-loader{
    position:relative;
    margin: 0 auto;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: black;
    overflow: hidden;
}
.photo-loader > div:not(:last-child) {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.photo-loader div div {
    width: calc(100% / 6);
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*  background-image:url('somepic.jpg');*/
}
.load-1 {
    animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:0.5s;
    opacity:0;
    background-image:url("./img/1.jpg");
}

.load-2 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:1s;
    opacity:0;
    background-image:url("./img/2.jpg");
}

.load-3 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:1.5s;
    opacity:0;
    background-image:url("./img/3.jpg");
}

.load-4 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:2s;
    opacity:0;
    background-image:url("./img/4.jpg");
}

.load-5 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:2.5s;
    opacity:0;
    background-image:url("./img/5.jpg");
}

.load-6 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:3s;
    opacity:0;
    background-image:url("./img/6.jpg");
}

.load-7 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:3.5s;
    opacity:0;
    background-image:url("./img/7.jpg");
}

.load-8 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:4s;
    opacity:0;
   background-image:url("./img/8.jpg");
}
.load-9 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:4.5s;
    opacity:0;
    background-image:url("./img/9.jpg");
}
.load-10 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:5s;
    opacity:0;
   background-image:url("./img/10.jpg");
}

.load-11 {
        animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:5.5s;
    opacity:0;
   background-image:url("./img/11.jpg");
}

.load-12 {
    animation:load-it 0.1s forwards;
    animation-iteration-count:1;
    animation-delay:6s;
    opacity:0;
    background-image:url("./img/12.jpg");
}

.load-banner{
         border:5px solid transparent;
    border-radius:5px;
    cursor:pointer;
    padding:30px;
    background:rgba(0,0,0,0.5);
    position:absolute;
    text-align:right;
    font-family:sans-serif;
    color:white;
    top:35vh;
    text-shadow:2px 3px 15px black;
    transition:.5s ease-out;
}
/*
.load-banner:hover{
    background:rgba(50,50,50,0.5);
         border:5px solid white;
    border-radius:5px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}
*/
.load-banner:hover{
    background:rgba(0,0,0,0.7);
    transition:.5s ease-in;
         border:5px solid white;
    border-radius:5px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}
.load-banner:active{
         border:5px solid white;
    border-radius:5px;
}
.load-banner h1{
    font-size:5rem;
}
.load-banner h2{
    font-size:3rem;
}
.load-banner h1, .load-banner h2{
    margin:0;
}

/*
.play-button::after{
    position:absolute;
    top:0;
    bottom:0;
    content:"";
    border:15px solid transparent;
    border-left:40px solid white;
    border-right:40px solid transparent;
    border-left-color:white;

}
*/

@keyframes load-it {
    from {opacity:0;}
    to {opacity:1;}
}
